<div class="form-group">
    <label for="title">Tytuł</label>
    <input required value="<%= article.title %>" type="text" name="title" id="title" class="form-control">
</div>
<div class="form-group">
    <label for="description">Opis</label>
    <textarea name="description" id="description" class="form-control"><%= article.description %></textarea>
</div>
<div class="form-group">
    <label for="markdown">Markdown</label>
    <textarea required name="markdown" id="markdown" class="form-control"><%= article.markdown %></textarea>
</div>
<a href="/" class="btn btn-secondary">Powrót</a>
<button type="submit" class="btn btn-primary">Zapisz</button>